<div class="row">
  <div class="col-auto">
    <h1>The Tech Blog</h1>
  </div>
</div>


<!-- loop Blogs array -->

{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-8">
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>
      {{blog.description}}
    </p>
  </div>
  <div class="col-md-4">
    <small>Created by {{blog.user.name}} on {{format_date blog.date_posted}}</small>
  </div>
</div>
{{/each}}

